@layer reset, base, tokens, recipes, utilities;


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}


@font-face {
  font-family: 'Blatant';
  src: url('/fonts/blatant.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-blatant: 'Blatant', sans-serif;
}

html {
  font-family: var(--font-poppins);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {  
  font-size: clamp(1.6rem, 1.6vw, 2rem);  
}